@use "../base/styles" as *;

.n5 {

    
    font-family: 'Poppins', sans-serif;
    // background-color: var(--beige);


    &__conseils {
        position: relative;
        width: 100%;
        height: 170vh;
        background-size: cover;
        background-position: center;
        background-image: url(/dist/assets/svg/bgbeige.svg);
        z-index: 100;
    }
    
    &__title_content {
        padding: 4rem;
        padding-top: 10%;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: var(--black);
        font-size: 3rem;
        font-weight: 500;
    }

    &__title_icones {
        width: 5%;
    }

    &__info {
        padding-top: 5%;
        gap: 5rem;
        display: flex;
        flex-direction: column;
        
    }

    &__limiter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    &__limiter_txt {
        font-size: 1.5rem;
        padding-left: 10%;
        width: 70%;
        justify-content: center;
        align-items: center;
        
        
    }

    &__date {
        display: flex;
        flex-direction: row-reverse;
    }




 
    &__yeti {
        position: absolute;
        right: 10%;
        width: 130%;
    }

    &__lapin {
        position: absolute;
        width: 50%;
        right: 40%;
    }

    &__vache {
        position: absolute;
        width: 60%;
        left: 70%;
    }


    &__fin {
        position: relative;
        width: 100vw;
        height: 115vh;
        // background-image: url("/dist/assets/svg/bgfin.svg");
        background-color: var(--beige);
        background-size: cover;
        background-position: center;
    }


    &__3animaux {
        width: 60%;
        position: absolute;
        left: 20%;
        bottom: -5%;
        z-index: 1;
    }

    &__fin_planete{
        z-index: 0;
        position: absolute;
        bottom: -20%;
        width: 100vw;
    }
}

.orange {
    background-color: var(--orange);
    height: 13rem;
}

.green {
    background-color: var(--green);
    height: 13rem;
}

.rouge {
    background-color: var(--red);
    height: 13rem;
}

.conseils {
    position: relative;
}