@use "../base/styles" as *;

.n2{
    &__content{
        background-color: aqua;
}

&__title{
 display: flex;
 justify-content: center;
 align-items: baseline;
 text-align: start;
 font-family: 'Poppins', sans-serif;
 font-weight: 700;
}
}

