@use "../base/styles" as *;

.n2 {



    &__content {
        position: relative;
        width: 100%;    
        height: 115vh;
        background-size: cover;
        background-image: url(/dist/assets/svg/bgprintemps.svg);
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 78%;
        left: 32%;
        color: white;
        text-align: start;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }

    &__info{
        width: 100%;    
        height: 115vh;
        background-size: cover;
        background-image: url(/dist/assets/svg/fondvertarc.svg);
    }

    &__info_title{
        padding: 6rem;  
        font-size: 3rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: var(--beige);
        text-align: center;
        bottom: 10rem;
    }

    
}
.vert{
        color: #85E575;
    font-weight: 800;
    }