@use "../base/styles" as *;

.n2 {



    &__content1 {
        position: relative;
        width: 100%;
        height: 115vh;
        background-size: cover;
        background-image: url(/dist/assets/svg/bgprintemps.svg);
    }

    &__content1_title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 78%;
        left: 32%;
        color: white;
        text-align: start;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 250%;
        line-height: 125%;
    }

    &__content2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 115vh;
        background-size: cover;
        background-image: url(/dist/assets/svg/fondvertarc.svg);
    }

    &__content2_divcenter {
        display: flex;
        justify-content: center;
    }

    &__content2_title {
        font-size: 3rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: var(--beige);
        padding-top: 0%;
        text-align: center;
    }

    &__content2_assiette {
        display: flex;
        justify-content: center;
        padding-right: 5%;
        max-width: 40%;
    }

    &__assiette_anim {
        position: absolute;
        top: 9%;
        left: 10%;
    }
}

.vert {
    color: #85E575;
    font-weight: 800;
}

.kg {}