@use "../base/styles" as *;

.n1 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 100%;


    &__content {
        text-transform: uppercase;
    
        width: 100%;
        height: 115vh;
        background-image: url("/dist/assets/svg/bghiver.svg");
        background-size: cover;
        background-position: center;

    }

    &__title {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // padding-top: 42rem;
        // padding-left: 13rem;
        // text-align: start;
        // font-weight: 700;
        // font-size: 40px;
    
        position: absolute;
        bottom: -10%;
        left: 30%;
        font-weight: 800;
        font-size: 2rem;
        color: var(--white);
        line-height: 50px;

    }

    &__yeti {
        position: absolute;
        left: -2rem;
        bottom: -7rem;
    }


    &__info {
        position: relative;
        width: 100%;
        height: 115vh;
        background-image: url("/dist/assets/svg/fond_bleu_arc.svg");
        background-size: cover;
        background-position: center;
    }


    &__info_title {
        padding: 6rem;
        font-size: 3rem;
        font-weight: 500;
        color: var(--beige);
        text-align: center;
        bottom: 10rem;
    }

    &__assiette_content {
        position: relative;
    }

    &__assiette {
        position: absolute;
        width: 60%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -30%);
        z-index: 1;
    }

    &__assiette_anim {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-53%, -38%);
        z-index: 2;

    }



    &__info_content {
        display: flex;
        flex-direction: column;
        transform: translateY(-20%);


    }


    &__info_box {
        background-color: var(--beige);
        width: 23rem;
        height: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    &__info_nb {
        display: flex;
        font-size: 8rem;
        font-weight: 700;
        color: var(--bleu-marine);
        line-height: 124.838%; 
        letter-spacing: -5px;
        margin-left: 2rem;
    }

    &__info_txt {
        color: var(--beige);
        margin-left: 2rem;
        margin-top: 0.5rem;
    }


    &__vague {
        background-image: url("/dist/assets/svg/vague.svg");
        position: relative;
        width: 100%;
        height: 115vh;
        background-size: cover;
        background-position: center;
    }


    &__poisson1 {
        position: absolute;
        width: 50%;
        height: 50%;
        left: -10%;
        top: -5%;
        
    }

    &__poisson2 {
        position: absolute;
        width: 30%;
        height: 30%;
        left: 20%;
        top: 10%;
    }

    &__vague_title {
        margin-left: 5rem;
        position: absolute;
        font-size: 3rem;
        top: 35%;
        color: var(--orange);
    }


    &__vague_infos {
        position: relative;
        height: 50rem;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6rem;
    }


    &__vague_info_box {
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;
        width: 70%; 
        height: 70%;
        padding: 2rem;
    }

    &__consom35_txt {
        text-align:center;
        padding-top: 2rem;
    }

    &__consom35 {
 
        position: absolute;
        margin-bottom: 70%;


    }


    &__filet {
        position: absolute;
        width: 160%;
        bottom: 40%;

    }


    &__filet_txt {
        text-align: center;
        padding: 2rem;
    }


    &__epuisement {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    &__epuisement_title {
        font-size: 1.5rem;
        text-align: center;
    }

    &__epuisement_poisson {
        width: 25%;
        height: 25%;
    }


    &__progression {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        background-image: url("/dist/assets/svg/bgblanc.svg");
        position: relative;
        width: 100%;
        height: 115vh;
        background-size: cover;
        background-position: center;

    }


    &__progression_box {  
        position: absolute;
        top: 0%;
        display: flex; 
        margin: 2rem;
        display: flex;    
        justify-content: center;
        align-items: center; 
        background-color: var(--beige);
        width: 40rem;
        height: 8rem;
        border-radius: 100px;

    }

    &__progression_title {
        color: var(--orange);
        font-size: 40px;
    }

    &__progression_info {
        display: flex;
        flex-direction: row;
        background-image: url(/dist/assets/svg/bgblanc.svg);
        height: 100vh;

    }



    &__progression_info_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50%;
        
    }

    &__progression_info_txt {
        text-align: center;
        width: 60%;

    }


    &__60poiss {
        width: 40rem;
        top: 30%;
        width: 70%; 
        height: 70%;
        
    }

    &__poiss {
        width: 100%;
        
    }

    &__progression_poiss {
        position: absolute;
        top: 20%;
        width: 80%;
        aspect-ratio: 1/1;
    }



    &__poiss33 {
        width: 50%;
    }


    &__progression_reconstitution {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 40%;
    }

    &__progression_nb {
        display: flex;
        font-size: 4rem;
        font-weight: 700;
        color: var(--bleu-marine);
        line-height: 124.838%; 
        letter-spacing: -5px;
    }

    &__progression_txt {
        text-align: center;

    }

    &__poiss {
        width: 50%;
    }


    &__viande {
        background-image: url("/dist/assets/svg/bgrouge.svg");
        width: 100%;
        height: 115vh;
        background-size: cover;
        background-position: center;
    }
}



.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.yeti {
    position: absolute;
    left: 20rem;
    bottom: 100rem;
}

.blue{
    color: #C8E1FF;
    font-weight: 800;
}

.bleu_marine {
    color: var(--bleu-marine);
}

.red{
    color: var(--red);
    font-weight: 700;
}

.kg {
    font-size: 3rem;

}


.droite {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.gauche {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.gauche_txt {
    text-align: end;
    margin-right: 2rem;
}