:root {
  /* default */
  /* colors */
  --neutral-black: #000000;
  --neutral-black-light: #555555;
  --neutral-white: #ffffff;
  --primary-brown: #573c2f;
  --primary-brown-light: #8f7d74;
  --primary-red: #ea6752;
  --primary-red-light: #f19a8c;
  --primary-yellow: #fecf44;
  --primary-yellow-light: #fedf82;


}

